<!doctype html>
<html lang="en">
    <head>
        <link rel=stylesheet type=text/css href="./static/style.css">
    </head>
    <body>
        <h1>Hotel Data Calculator</h1>
        <p>To use this:
            <ul>
            <li>Go to <a href="https://app.frontapp.com/analytics2/all/conversations">Front analytics</a></li>
            <li>Select your dates and hit export in the upper right</li>
            <li>Export the file and come back here and refresh the page. You'll see your export at the top of the list below.</li>
            <li>When the status is 'done', click the link in the ID column to get the analytics</li>
        </ul>
        </p>
        <table border=1 cellpadding=7>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Creation Date</th>
            </tr>
            {% for obj in results_objects %}
            <tr>
                <td><a href="{{ obj.id }}/">{{ obj.id }}</a></td>
                <td>{{ obj.status }}</td>
                <td>{{ obj.created_at }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>